[Unit]
Description=oxyos apt setup service
After=getty@%i.service

[Service]
ExecStart=/usr/lib/oxyos/apt-setup
Type=oneshot

[Install]
WantedBy=multi-user.target
